<% @title = "Setlists" %>

<%= render "searches/form" %>

<div class="latest">
  <h3 class="type">Latest setlists</h3>

  <%= render @latest_shows %>

  <p class="more">
    <%= link_to "More shows &rarr;".html_safe, shows_path %>
  </p>
</div>

<div class="taped">
  <h3 class="type">Freshly taped</h3>

  <% @taped_shows.each do |show| %>
    <article>
      <h2><%= link_to show.when, show %></h2>
      <%= render show.venue %>

      <%= simple_format show.embeds, {}, {sanitize: false} %>
    </article>
  <% end %>

  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</div>
