<% @title = "Setlists" %>

<%= render "searches/form" %>

<div class="button-group">
  <%= year_buttons_for(@year) %>
</div>

<div class="latest">
  <h3 class="type">Latest setlists</h3>

  <%= render @latest_shows %>

  <p class="more">
    <%= link_to "More shows &rarr;".html_safe, shows_path %>
  </p>
</div>

<div class="taped">
  <% if @featured_show.present? %>
    <div class="featured">
      <h3 class="type">Featured show</h3>
      <h2><%= link_to @featured_show.when, @featured_show %></h2>
      <%= render @featured_show.venue %>

      <%= simple_format @featured_show.embeds, {}, {sanitize: false} %>
    </div>
  <% end %>

  <!--
  <h3 class="type">Freshly taped</h3>

  <% @taped_shows.each do |show| %>
    <article>
      <h2><%= link_to show.when, show %></h2>
      <%= render show.venue %>

      <%= simple_format show.embeds, {}, {sanitize: false} %>
    </article>
  <% end %>
  -->

  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</div>
