<% @title = "Setlists, show stats, and more for groove rock band Aqueous" %>

<section class="home">
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><%= image_tag "logo.png" %></a>
      <div class="hero-copy">
        <h1>AqueousBand.net</h1>
        <p>Tracking setlists, shows, and more for <a href="http://aqueousband.com">Aqueous</a> fans.</p>
      </div>
    </div>
  </div>

  <article class="type-system-sans upcoming">
    <h1 class="type">Upcoming shows</h1>

    <%= render @upcoming_shows %>
  </article>

  <article class="type-system-sans latest">
    <h1 class="type">Latest setlists</h1>

    <%= render @latest_shows %>
  </article>

  <article class="type-system-sans media">
    <h1 class="type">Freshly taped</h1>

    <% @taped_shows.each do |show| %>
      <article>
        <h2><%= link_to show.when, show %></h2>
        <%= render show.venue %>

        <%= simple_format show.embeds, {}, {sanitize: false} %>
      </article>
    <% end %>
  </article>
</section>
