<section class="left">
  <h2>News</h2>
  <p>
    <%= image_tag "photos/nightlights.jpg" %>
    Our new album is almost ready. Come see us at <%= link_to "our CD release party in Buffalo", "https://www.facebook.com/events/333261936839155/" %>!
  </p>
</section>

<section class="right">
  <h2>Listen</h2>
  <iframe id="bandcamp" src="http://bandcamp.com/EmbeddedPlayer/album=3832919194/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/willy-is-40">Cycles by Aqueous</a></iframe>
  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left">
  <h2>Tour</h2>
  <table>
    <% @upcoming_shows.each do |show| %>
      <tr>
        <td><%= performed_at_for(show) %></td>
        <td><%= show.venue.location %> @ <%= show.venue.name %></td>
      </tr>
    <% end %>
  </table>
  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right">
  <h2>Watch</h2>
  <iframe id="youtube" width="100%" src="http://www.youtube.com/embed/qYhZPv5Vxbs" frameborder="0" allowfullscreen></iframe>
  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
