<header class="hero">
  <h1>Aqueous</h1>
  <p>(is a groove rock band)</p>
</header>

<section class="left" id="news">
  <h2>News</h2>
  <p>
    <%== @announcement.body if @announcement %>
  </p>
  <div id="mc_embed_signup">
    <form action="//aqueousband.us3.list-manage.com/subscribe/post?u=8a7b74553cfe81321de539280&amp;id=cdaaaf66d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe for tour updates &amp; more:</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_8a7b74553cfe81321de539280_cdaaaf66d6" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
</section>

<section class="right" id="listen">
  <h2>Listen</h2>
  <iframe id="bandcamp" src="http://bandcamp.com/EmbeddedPlayer/album=3832919194/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/willy-is-40">Cycles by Aqueous</a></iframe>
  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left" id="tour">
  <h2>Tour</h2>
  <table>
    <% @upcoming_shows.each do |show| %>
      <tr itemprop="event" itemscope itemtype="http://schema.org/MusicEvent">
        <td><%= performed_at_for(show) %></td>
        <td itemprop="name"><%= show.name %></td>
        <meta itemprop="startDate" content="<%= show.performed_at.to_date %>" />
        <meta itemprop="location" content="<%= show.venue.location %>" />
        <meta itemprop="url" content="<%= show_url(show) %>" />
        <meta itemprop="offers" content="<%= show.url %>" />
      </tr>
    <% end %>
  </table>
  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right" id="watch">
  <h2>Watch</h2>
  <iframe id="youtube" width="100%" src="http://www.youtube.com/embed/qYhZPv5Vxbs" frameborder="0" allowfullscreen></iframe>
  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
