<% @hide_search = true %>
<%= content_for :head do %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<% end %>

<header class="hero">
  <h1>Aqueous</h1>
  <p><%= @homepage.tagline %></p>
</header>

<div id="wavebanner" class="banner">
  <%= link_to tour_path do %>
    There's <%= pluralize(@week_count, "show") %> this week ➾
  <% end if @week_count.nonzero? %>
</div>

<section class="left" id="news">
  <h2>News</h2>
  <%= render_markdown(@homepage.news) %>
</section>

<section class="right" id="listen">
  <h2>Listen</h2>
  <%= render_markdown(@homepage.listen) %>

  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left" id="tour">
  <h2>Tour</h2>
  <%= render_markdown(@homepage.tour) %>

  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right" id="watch">
  <h2>Watch</h2>
  <%= render_markdown(@homepage.watch) %>

  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
