<%= content_for :head do %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<% end %>

<header class="hero">
  <h1>Aqueous</h1>
  <p>(is a groove rock band)</p>
</header>

<div id="wavebanner" class="banner">
  <%= link_to tour_path do %>
    Spring Tour is in full swing!
    <% if @week_count.nonzero? %>
      There's <%= pluralize(@week_count, "show") %> this week
    <% end %>
    ➾
  <% end %>
</div>

<section class="left" id="news">
  <h2>News</h2>
  <p>
    <%== @announcement.body %>
  </p>
</section>

<section class="right" id="listen">
  <h2>Listen</h2>
  <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=1616911330/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/sonic-farm-presents-aqueous-live-in-boulder-2015-11-21">Sonic Farm Presents: Aqueous Live in Boulder 2015-11-21 by Aqueous</a></iframe>

  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left" id="tour">
  <h2>Tour</h2>
  <table>
    <% @upcoming_shows.each do |show| %>
      <tr>
        <td><%= performed_at_for(show) %></td>
        <td><%= show.name %></td>
      </tr>
    <% end %>
  </table>
  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right" id="watch">
  <h2>Watch</h2>
  <iframe id="youtube" width="100%" src="<%= @announcement.embed_url %>" frameborder="0" allowfullscreen></iframe>
  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
