<header>
  <h1>Aqueous</h1>
  <p>(is a groove rock band)</p>
</header>

<div id="banner"></div>

<section class="left">
  <h2>News</h2>
  <p>
    <%= image_tag "photos/nightlights.jpg" %>
    Come see us at <%= link_to "Night Lights Fest", "http://www.nightlightsfest.com/" %> on Saturday night! Get your tickets <%= link_to "here.", "https://www.facebook.com/events/692674394117522/?fref=ts" %>
  </p>
</section>

<section class="right">
  <h2>Listen</h2>
  <iframe id="bandcamp" src="http://bandcamp.com/EmbeddedPlayer/album=3634413396/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/willy-is-40">Willy is 40 by Aqueous</a></iframe>
  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left">
  <h2>Tour</h2>
  <table>
    <% @upcoming_shows.each do |show| %>
      <tr>
        <td><%= performed_at_for(show) %></td>
        <td><%= show.venue.location %> @ <%= show.venue.name %></td>
      </tr>
    <% end %>
  </table>
  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right">
  <h2>Watch</h2>
  <iframe id="youtube" width="100%" src="http://www.youtube.com/embed/x7YHjUm7XBI" frameborder="0" allowfullscreen></iframe>
  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
