<% @hide_search = true %>
<%= content_for :head do %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<% end %>

<header class="hero">
  <h1>Aqueous</h1>
  <p><%= @homepage.tagline %></p>
</header>

<div id="wavebanner" class="banner">
  <%= link_to tour_path do %>
    There's <%= pluralize(@week_count, "show") %> this week ➾
  <% end if @week_count.nonzero? %>
</div>

<section class="left" id="news">
  <h2>News</h2>
  <p>
    <%= render_markdown(@homepage.news) %>
  </p>
</section>

<section class="right" id="listen">
  <h2>Listen</h2>

  <iframe class="bandcamp" src="https://bandcamp.com/EmbeddedPlayer/album=<%= @homepage.listen %>/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/best-in-show">Best in Show by Aqueous</a></iframe>

  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left" id="tour">
  <h2>Tour</h2>
  <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Aqueous" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#000000" data-link-color="#FA6900" data-popup-background-color="#FFFFFF" data-background-color="#FFFFFF" data-display-limit="5" data-link-text-color="#000000"></a>

  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right" id="watch">
  <h2>Watch</h2>
  <iframe id="youtube" width="100%" src="//www.youtube.com/embed/<%= @homepage.watch %>" frameborder="0" allowfullscreen></iframe>
  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
