<% @hide_search = true %>
<%= content_for :head do %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<% end %>

<header class="hero">
  <h1>Aqueous</h1>
  <p><%= @homepage.tagline %></p>
</header>

<%= render 'layouts/nugs' %>

<div id="wavebanner" class="banner">
  <%= link_to tour_path do %>
    There's <%= pluralize(@week_count, "show") %> this week ➾
  <% end if @week_count.nonzero? %>
</div>

<section class="left" id="news">
  <h2>News</h2>
  <%= render_markdown(@homepage.news) %>
</section>

<section class="right" id="watch">
  <h2>Watch</h2>
  <%= render_markdown(@homepage.watch) %>

  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "https://youtube.com/AqueousBand" %>
  </p>
</section>

<section class="left" id="tour">
  <h2>Tour</h2>
  <table>
    <% @upcoming_shows.each do |show| %>
    <tr>
      <td><%= performed_at_for(show) %></td>
      <td><%= show.name %></td>
    </tr>
    <% end %>
  </table>

  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right" id="listen">
  <h2>Listen</h2>
  <%= render_markdown(@homepage.listen) %>

  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<p class='photo-credit'>
  header photo from <a href="/shows/2018-12-31">12/31/18 @ the town ballroom</a> by <a href="https://www.instagram.com/ztoad/">zachary todtenhagen</a>
</p>
