<header class="hero">
  <h1>Aqueous</h1>
  <p>(is a groove rock band)</p>
</header>

<section class="left" id="news">
  <h2>News</h2>
  <p>
    <%== @announcement.body if @announcement %>
  </p>
</section>

<section class="right" id="listen">
  <h2>Listen</h2>
  <iframe class="bandcamp" src="http://bandcamp.com/EmbeddedPlayer/album=3832919194/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/cycles">Cycles by Aqueous</a></iframe>

  <iframe class="bandcamp" src="http://bandcamp.com/EmbeddedPlayer/album=2787150544/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-at-nectars-burlington-vt-110814">Live at Nectars - Burlington, VT - 11.08.14 by Aqueous</a></iframe>
  <p class="more">
    <%= link_to "More music &rarr;".html_safe, page_path("music") %>
  </p>
</section>

<section class="left" id="tour">
  <h2>Tour</h2>
  <table>
    <% @upcoming_shows.each do |show| %>
      <tr>
        <td><%= performed_at_for(show) %></td>
        <td><%= show.name %></td>
      </tr>
    <% end %>
  </table>
  <p class="more">
    <%= link_to "More dates &rarr;".html_safe, tour_path %>
  </p>
</section>

<section class="right" id="watch">
  <h2>Watch</h2>
  <iframe id="youtube" width="100%" src="//www.youtube.com/embed/videoseries?list=PLFLRdrkGa1UgG_KfP9mcJ-eYP3C3MbGXY" frameborder="0" allowfullscreen></iframe>
  <p class="more">
    <%= link_to "More videos &rarr;".html_safe, "http://youtube.com/AqueousBand" %>
  </p>
</section>
