<% @title = "Editing #{@song.name}" %>

<p>
  <%= render "stats", song: @song %>
</p>

<%= form_for @song do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :cover, "Cover:", class: "checkbox_label" %>
  <%= f.check_box :cover %>

  <%= f.label :history %>
  <%= f.text_area :history, placeholder: "Any notes, videos, etc for this song" %>

  <%= f.label :lyrics %>
  <%= f.text_area :lyrics, placeholder: "Please don't include lyrics for covers so we don't get sued" %>

  <%= f.submit %>
<% end %>

<br />
<p class="type">Merge "<%= @song.name %>"</p>

<%= form_for [:merge, @song] do |f| %>
  <%= f.label :other_song_id, "Keep this song and merge in:" %>
  <%= f.collection_select :other_song_id, Song.by_name, :id, :name %>
  <%= f.submit "Merge song" %>
<% end %>
