<% @title = @playlist.title %>

<%= render "searches/form" %>

<div class="button-group">
  <%= playlist_buttons_for(@playlist) %>
</div>

<div id="sparkline"></div>

<div id="songs" data-show-ids="<%= @show_ids.to_json %>">
  <% cache @playlist do %>
    <% if @playlist.template %>
      <%= render @playlist.template, songs: @playlist.songs %>
    <% else %>
      <%= render @playlist.songs %>
    <% end %>
  <% end %>
</div>
