<% @title = "Best in Show" %>

<%= link_to "<h1>Aqueous</h1>".html_safe, root_path, id: "root" %>
<h2>Est. 2006 &mdash; Buffalo, NY</h2>

<h3>Best in Show</h3>

<p>
  Recorded live at Penuche's in Manchester, NH on May 13th, 2016. <%= link_to "Download them all!", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/2016.zip", id: "download" %>
</p>

<div id="mediaplayer"></div>

<article>
  <div id="live">
    <dl>
      <dt id="song1"><a href="#" data-song="1" data-behavior="play">Complex Pt. II</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T1-ComplexII.mp3", "data-behavior" => "download" %> &mdash; 8:48</dd>
      <dt id="song2"><a href="#" data-song="2" data-behavior="play">Aldehyde</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T2-Aldehyde.mp3", "data-behavior" => "download" %> &mdash; 6:42</dd>
      <dt id="song3"><a href="#" data-song="3" data-behavior="play">Don't Do It</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T3-DDI.mp3", "data-behavior" => "download" %> &mdash; 9:05</dd>
      <dt id="song4"><a href="#" data-song="4" data-behavior="play">What's the Connection?</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T4-WTC-HG-WTC.mp3", "data-behavior" => "download" %> &mdash; 10:16</dd>
      <dt id="song5"><a href="#" data-song="5" data-behavior="play">Underlyer</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T5-Underlyer.mp3", "data-behavior" => "download" %> &mdash; 15:02</dd>
      <dt id="song6"><a href="#" data-song="6" data-behavior="play">They're Calling For You</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T6-TCFY.mp3", "data-behavior" => "download" %> &mdash; 16:36</dd>
      <dt id="song7"><a href="#" data-song="7" data-behavior="play">Flutes of Chi</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T7-FlutesOfChi.mp3", "data-behavior" => "download" %> &mdash; 11:06</dd>
      <dt id="song8"><a href="#" data-song="8" data-behavior="play">Triangle</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/2016/AQ2016-05-13-T8-Triangle.mp3", "data-behavior" => "download" %> &mdash; 11:51</dd>
    </dl>
  </div>
</article>

<p>
  <%= link_to "Learn more about us", page_path("about") %>, <%= link_to "buy some swag", "http://aqueous1.bandcamp.com/merch" %>, or <%= link_to "come see us play sometime", tour_path %>.<br />Thanks for listening.
</p>

<%= content_for :footer do %>
  <br /><small><a href="https://thenounproject.com/artworkbean">Icons by artworkbean</a> from the Noun Project</small>
<% end %>
