<% @title = "Best in Show" %>

<%= link_to 'continue to full site »', home_path, id: 'home' %>

<%= link_to page_path('bestinshow'), id: "root" do %>
  <h1>Best in Show</h1>
<% end %>
<h2>Aqueous</h2>

<a href="https://soundcloud.com/aqueousband" id="dogs">more</a>

<p>
  Our latest EP, 4 well-selected tracks we've pampered for your delight. Take one for a trial:
</p>

<div id="mediaplayer"></div>

<article>
  <div id="live">
    <dl>
      <dt id="song1"><a href="#" data-song="1" data-behavior="play">Random Company</a></dt>
      <dd><%= link_to "Download", "https://s3.amazonaws.com/files.aqueousband.net/sampler/Best/RandomCompany.mp3", "data-behavior" => "download" %> ~ 8:05 ~ 7.4 MB</dd>
    </dl>
  </div>
</article>

<p>
  Mixed at the wonderful Sonic Farm Studios in Colden, NY. Honed on the road driving all over the Northeast, and sometimes down South or West. This is our Best in Show &mdash; and we hope you'll think so too.
</p>

<p id='buy'>
  <%= link_to 'Buy Now: $10', 'https://aqueous1.bandcamp.com/album/sonic-farm-presents-aqueous-live-at-the-mad-tea-party-jam-6-17-16?action=buy&from=embed', target: '_blank' %>
</p>

<p>
  <%= link_to "Learn more about us", page_path("about") %>, <%= link_to "buy some swag", "http://aqueous1.bandcamp.com/merch" %>, or <%= link_to "come see us play sometime", tour_path %>. Thanks for listening.
</p>

<%= content_for :footer do %>
  <br /><small><a href="https://thenounproject.com/artworkbean">Icons by artworkbean</a> from the Noun Project</small>
<% end %>
