<% @title = "Best in Show" %>

<%= link_to 'continue to full site »', home_path, id: 'home' %>

<%= link_to page_path('bestinshow'), id: "root" do %>
  <h1>Best in Show</h1>
<% end %>
<h2>Aqueous</h2>

<a href="https://soundcloud.com/aqueousband" id="dogs">more</a>

<div id="mediaplayer"></div>

<p>
  Our latest single:
</p>

<article>
  <div id="live">
    <dl>
      <dt id="song1"><a href="#" data-song="1" data-behavior="play" data-track="https://s3.amazonaws.com/files.aqueousband.net/sampler/Best/RandomCompany.mp3">Random Company</a></dt>
      <dd><%= link_to "Stream the rest on Bandcamp »", "https://aqueous1.bandcamp.com/album/best-in-show" %></dd>
    </dl>
  </div>
</article>

<p>
  Download all of our brand new EP Best in Show:
</p>

<p id='buy'>
  <%= link_to 'Buy Now', 'https://aqueous1.bandcamp.com/album/best-in-show?action=buy&from=embed', target: '_blank' %>
</p>

<p>
  <%= link_to "Learn more about us", page_path("about") %>, <%= link_to "buy some swag", "http://aqueous1.bandcamp.com/merch" %>, or <%= link_to "come see us play sometime", tour_path %>. Thanks for listening.
</p>

<%= content_for :footer do %>
  <br /><small><a href="https://thenounproject.com/artworkbean">Icons by artworkbean</a> from the Noun Project</small>
<% end %>
