<% @title = "Color Wheel" %>
<% buy_url = "http://smarturl.it/aqueous-color-wheel" %>
<%= content_for :head do %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900,900i" rel="stylesheet">
<% end %>

<%= link_to 'continue to full site »', home_path, id: 'home' %>

<h2>Aqueous</h2>
<%= link_to buy_url, id: "root" do %>
  <h1>Color Wheel</h1>
<% end %>

<%= link_to "more", buy_url, id: "colorwheel" %>

<ol>
  <li>Second Sight</li>
  <li>How High You Fly</li>
  <li>Realize Your Light</li>
  <li>Split The Difference</li>
  <li>Color Wheel</li>
  <li>Good Enough</li>
  <li>Half In, Half Out</li>
  <li>Weight of the Word<br /><small>(Ft. Turkuaz Horns)</small></li>
  <li>Mandela Effect</li>
  <li>In It (For Me)</li>
</ol>

<h3><%= render_markdown Colorwheel.instance.callout %></h3>

<div class="quote">
  <%= render_markdown Colorwheel.instance.quote %>
</div>
