<% @title = "Color Wheel" %>
<% buy_url = "https://bit.ly/2wuxFrT" %>
<%= content_for :head do %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900,900i" rel="stylesheet">
<% end %>

<%= link_to 'continue to full site »', home_path, id: 'home' %>

<h2>Aqueous</h2>
<%= link_to buy_url, id: "root" do %>
  <h1>Color Wheel</h1>
<% end %>

<%= link_to "more", buy_url, id: "colorwheel" %>

<ol>
  <li>Second Sight</li>
  <li>How High You Fly</li>
  <li>Realize Your Light</li>
  <li>Split The Difference</li>
  <li>Color Wheel</li>
  <li>Good Enough</li>
  <li>Half In, Half Out</li>
  <li>Weight of the Word<br /><small>(Ft. Turkuaz Horns)</small></li>
  <li>Mandela Effect</li>
  <li>In It (For Me)</li>
</ol>

<h3><span>Wave One</span> Coming Soon</h3>
<%= link_to 'Vinyl Preorder', buy_url, id: "vinyl" %>

<p class="quote">
  "Color Wheel feels like a step forward for the band in every way. We tapped into a distinctly more emotional and purposeful space when writing it, and there’s a raw honesty throughout the album’s lyrics and themes that I think a lot of people can relate to, too. Though some of those themes are a little heavier, there’s a constant thread of hopeful optimism that we hope people will really connect with. Musically, the band has evolved and this album finds us exploring some new and very exciting musical lanes, too. The whole album, meant to be listened to in order, feels much like a continuing story or narrative, and the music unfolds as such."<br />-Mike Gantzer
</p>
