<% @title = "Contact" %>

<section id="contact">
  <aside>
    <h2>Info</h2>
    <ul>
      <li><%= link_to_file_url "Press Kit (PDF)", "2015/Aqueous_Press_Kit.pdf" %></li>
      <li><%= link_to_file_url "Press Photos (ZIP)", "2016/spring_2016_images.zip" %> (<%= link_to_file_url "1", "2016/spring_1.jpg" %>, <%= link_to_file_url "2", "2016/spring_2.jpg" %>, <%= link_to_file_url "3", "2016/spring_3.jpg" %>)</li>
      <li><%= link_to "Taping Policy", page_path("taping") %></li>
      <li><%= link_to "Street Team", page_path("mobilize") %></li>
      <li><%= link_to_file_url "Input List & Stage Plot", "2015/Aqueous_Input_List.pdf", class: "small" %></li>
    </ul>
  </aside>

  <h2>Management</h2>
  <ul>
    <li><%= link_to "Blue Stream Productions", "http://bluestreamproductions.com/" %></li>
    <li>Josh Holtzman</li>
    <li><%= mail_to "josh@bluestreamproductions.com", "josh@bluestreamproductions.com" %></li>
    <li>(585) 703-0508</li>
  </ul>

  <h2>Booking</h2>
  <ul>
    <li><%= link_to "Nimbleslick Entertainment", "http://nimbleslick.com/" %></li>
    <li>Justin Willis</li>
    <li><%= mail_to "justin@nimbleslick.com", "justin@nimbleslick.com" %></li>
    <li>(706) 354-0335</li>
  </ul>

  <h2>Street Team</h2>
  <ul>
    <li><%= link_to "Blue Stream Productions", "http://bluestreamproductions.com/" %></li>
    <li>Liz Bierbrauer</li>
    <li><%= mail_to "aqueouspromotions@gmail.com", "aqueouspromotions@gmail.com" %></li>
  </ul>

  <h2>Fan Relations</h2>
  <ul>
    <li>Do you want to send us a friendly message?</li>
    <li><%= mail_to "aqueousband@gmail.com", "aqueousband@gmail.com" %></li>
  </ul>

  <h2>Website</h2>
  <ul>
    <li>Have questions about the website?</li>
    <li>Ask <%= mail_to "nick@quaran.to", "nick@quaran.to" %>! This site is <%= link_to "open source", "https://github.com/qrush/skyway" %>.</li>
  </ul>
</section>
