<% @title = "Sampler" %>

<%= link_to "<h1>Aqueous</h1>".html_safe, root_path, id: "root" %>
<h2>Est. 2006 &mdash; Buffalo, NY</h2>

<h3>Sampler &raquo; Summer 2017</h3>

<p>
  Get a taste of some Aqueous! Stream these tracks for free here or <a href="https://aqueous1.bandcamp.com">check out more on Bandcamp</a>.
</p>

<div id="mediaplayer"></div>

<article>
  <div id="live">
    <dl>
      <dt id="song1"><a href="#" data-song="1" data-behavior="play">Kitty Chaser (Explosions)</a></dt>
      <dd><%= link_to "Play", "#", data: { song: "1", song_url: "https://s3.amazonaws.com/files.aqueousband.net/sampler/2017/Kitty+Chaser-.mp3", behavior: "download" } %> &mdash; 20:41</dd>
      <dt id="song2"><a href="#" data-song="2" data-behavior="play">Aldehyde</a></dt>
      <dd><%= link_to "Play", "#", data: { song: "2", song_url: "https://s3.amazonaws.com/files.aqueousband.net/sampler/2017/Aldehyde-.mp3", behavior: "download" } %> &mdash; 18:50</dd>
    </dl>
  </div>
</article>

<p>
  <%= link_to "Learn more about us", page_path("about") %>, <%= link_to "buy some swag", "http://aqueous1.bandcamp.com/merch" %>, or <%= link_to "come see us play sometime", tour_path %>.<br />Thanks for listening.
</p>

<%= content_for :footer do %>
  <br /><small><a href="https://thenounproject.com/artworkbean">Icons by artworkbean</a> from the Noun Project</small>
<% end %>
