<article class="show" id="<%= dom_id(show) %>">
    <header data-behavior="setlist">
      <h2><%= link_to show.when, show %></h2>
      <%= render show.venue %>
    </header>

  <% cache [ show ] do %>
    <% show.setlists.each do |setlist| %>
      <p class="setlist" data-behavior="setlist">
        <span><%= setlist.name %></span>:
        <%= format_setlist(show, setlist) %>
      </p>
    <% end %>

    <% if show.played? && show.unknown_setlist? %>
      <p class="unknown">
        Setlist not yet available for this show.
      </p>
    <% end %>

    <% if show.notes? || show.extra_notes.present? %>
      <p class="notes" data-behavior="setlist">
        <span>Notes:</span>
        <% show.notes.each_with_index do |note| %>
          <span class="note"><sup><%= show.bookmark_for(note) %></sup> <%= note.strip %></span>
        <% end %>

        <% if show.extra_notes.present? %>
          <%= raw_format show.extra_notes %>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <% if local_assigns[:embeds] && @show.embeds? %>
    <footer>
      <h3>Media</h3>
      <%= raw_format @show.embeds %>
    </footer>
  <% end %>

  <hr/>
</article>
