<% cache [ show ] do %>
  <div id="<%= dom_id(show) %>">
    <h2><%= link_to show.when, show %></h2>
    <%= render show.venue %>

    <% show.setlists.each do |setlist| %>
      <p>
        <span><%= setlist.name %></span>:
        <%= format_setlist(show, setlist) %>
      </p>
    <% end %>

    <% if show.notes? %>
      <p>
        <span>Notes:</span>
        <br />
        <% show.notes.each_with_index do |note| %>
          <sup><%= show.bookmark_for(note) %></sup> <%= note %>
          <br />
        <% end %>
      </p>
    <% end %>

    <hr/>
  </div>
<% end %>
