<div id="<%= dom_id(show) %>">
  <h2><%= link_to show.when, show %></h2>
  <h3><%= link_to show.venue.name, show.venue %>, <%= show.venue.location %></h3>

  <% show.setlists.each do |setlist| %>
    <p>
      <span><%= setlist.name %></span>:
      <%= format_setlist(setlist) %>
    </p>
  <% end %>

  <% if show.notes? %>
    <p>
      <span>Notes:</span>
      <br />
      <% notes_for(show).each do |bookmark, notes| %>
        <sup><%= bookmark %></sup> <%= notes %>
        <br />
      <% end %>
    </p>
  <% end %>

  <hr/>
</div>
