<article class="show" id="<%= dom_id(show) %>">
  <% if local_assigns[:banner] %>
    <header style="background-image: url('<%= @show.banner.url(:fit) %>');">
  <% else %>
    <header>
  <% end %>
      <h2><%= link_to show.when, show %></h2>
      <%= render show.venue %>
    </header>

  <% cache [ show ] do %>
    <% show.setlists.each do |setlist| %>
      <p class="setlist">
        <span><%= setlist.name %></span>:
        <%= format_setlist(show, setlist) %>
      </p>
    <% end %>

    <% if show.unknown_setlist? %>
      <p class="unknown">
        Setlist unavailable for this show.
      </p>
    <% end %>

    <% if show.notes? %>
      <p class="notes">
        <span>Notes:</span>
        <br />
        <% show.notes.each_with_index do |note| %>
          <sup><%= show.bookmark_for(note) %></sup>
          <span class="note"><%= note %></span>
          <br />
        <% end %>
      </p>
    <% end %>
  <% end %>

  <% if local_assigns[:embeds] && @show.embeds? %>
    <footer>
      <h3>Media</h3>
      <%= simple_format @show.embeds, {}, {sanitize: false} %>
    </footer>
  <% end %>

  <hr/>
</article>
