<nav>
  <div class="button-group">
    <%= year_buttons_for(@year) %>
  </div>
</nav>

<article class="type-system-sans">
  <p class="type">All shows from <%= @year %></p>

  <p>
    Played <em><%= pluralize Show.for_year(@year).count, "show" %></em> in <%= @year %>.
    <%= link_to "Add a new show.", new_show_path %>
  </p>

  <%= render @shows %>
</article>
