<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag "logo.png" %></a>
    <div class="hero-copy">
      <h1>AqueousBand.net</h1>
      <p>Tracking setlists, shows, and more for Aqueous fans since 2014.</p>
    </div>
  </div>
</div>

<article class="type-system-sans">
  <p class="type">Latest shows</h2>

  <% @shows.each do |show| %>
    <h2><%= show.performed_at.to_date.to_s(:long_ordinal) %></h2>
    <h3><%= show.venue.name %>, <%= show.venue.location %></h3>

    <% show.setlists.each do |setlist| %>
      <p>
        <span><%= setlist.name %></span>:
        <% setlist.slots.each do |slot| %>
          <%= slot.song.name %> &gt;
        <% end %>
      </p>
    <% end %>
    <hr/>
  <% end %>
</article>
