<% @title = "Setlist from #{@show.when}" %>

<% if @show.banner? %>
  <div id="show_banner">
    <%= render @show, embeds: true, banner: true %>
  </div>
<% else %>
  <%= render @show, embeds: true %>
<% end %>

<% if admin? %>
  <p>
    <%= link_to "Edit this show.", [:edit, @show] %>
  </p>
<% end %>

<p class="pager">
  <%= link_to "← #{@show.previous_show.when}", @show.previous_show if @show.previous_show %>
  <%= link_to "#{@show.next_show.when} →", @show.next_show, id: "next_show" if @show.next_show %>
</p>
