<% @title = "Setlist from #{@show.when}" %>

<%= render "searches/form" %>

<div class="attendance">
  <h4>Who was there?</h4>
  <% @show.fans.each do |fan| %>
    <%= link_to fan, class: 'fan-profile' do %>
      <%= image_tag fan.picture %>
    <% end %>
  <% end %>
  <% if @show.fans.empty? %>
    <p>
      No fans have tracked this show yet! Be the first:
    </p>
  <% end %>
  <%= link_to_attend current_fan.shows, @show %>
</div>

<%= render @show, embeds: true %>

<p class="pager">
  <%= link_to "← #{@show.previous_show.when}", @show.previous_show if @show.previous_show %>
  <%= link_to "#{@show.next_show.when} →", @show.next_show, id: "next_show" if @show.next_show %>
</p>

<% content_for :head do %>
  <% if @show.banner? %>
    <meta property="og:image" content="<%= @show.banner.url(:fit, timestamp: false) %>">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1056">
    <meta property="og:image:height" content="200">
  <% end %>
  <meta property="og:description" content="<%= @show.simple_setlist %>">
<% end %>

<p class="setlist-actions">
  <button data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">
    Copy setlist
  </button>
</p>
