<% @title = "Setlist from #{@show.when}" %>

<% content_for :head do %>
  <style type="text/css">
    #show_banner header {
      background-image: url('<%= @show.banner.url(:fit) %>');
    }
  </style>
<% end %>

<% if @show.banner? %>
  <div id="show_banner">
    <%= render @show, embeds: true %>
  </div>
<% else %>
  <%= render @show %>
<% end %>

<% if admin? %>
  <p>
    <%= link_to "Edit this show.", [:edit, @show] %>
  </p>
<% end %>

<p class="pager">
  <%= link_to "â† #{@show.previous_show.when}", @show.previous_show if @show.previous_show %>
  <%= link_to "#{@show.next_show.when} â†’", @show.next_show, id: "next_show" if @show.next_show %>
</p>
