<footer>
  <p>
    <%= image_tag "logo_black.png" %>
  </p>
  <ul>
    <li><%= link_to "Contact", page_path("contact") %></li>
    <li><%= link_to "Facebook", "https://facebook.com/aqueousband" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/aqueousband" %></li>
    <li><%= link_to "YouTube", "https://twitter.com/aqueousband" %></li>
    <li><%= link_to "Jambase", "http://www.jambase.com/Artists/49138/Aqueous" %></li>
    <li><%= link_to "Soundcloud", "http://soundcloud.com/aqueousband" %></li>
  </ul>
  <aside>
    Copyright &copy; 2014 · Aqueous
  </aside>
</footer>
