<footer>
  <p>
    <a href="#"></a>
  </p>
  <div id="mc_embed_signup">
    <form action="//aqueousband.us3.list-manage.com/subscribe/post?u=8a7b74553cfe81321de539280&amp;id=cdaaaf66d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe for tour updates &amp; more:</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_8a7b74553cfe81321de539280_cdaaaf66d6" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <%= render "layouts/admin" if admin? %>
  <ul>
    <li><%= link_to "Contact", page_path("contact") %></li>
    <li><%= link_to "Facebook", "https://facebook.com/aqueousband" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/aqueousband" %></li>
    <li><%= link_to "Instagram", "https://instagram.com/aqueousband" %></li>
    <li><%= link_to "YouTube", "https://youtube.com/aqueousband" %></li>
    <li><%= link_to "Jambase", "http://www.jambase.com/Artists/49138/Aqueous" %></li>
    <li><%= link_to "Soundcloud", "http://soundcloud.com/aqueousband" %></li>
  </ul>
  <aside>
    Copyright &copy; 2009-2016 · Aqueous
    <%= yield :footer %>
  </aside>
</footer>
