<head>
  <title>Aqueous | Groove Rock <%= "| #{@title}" if @title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta property="og:url" content="<%= request.url %>">
  <meta property="og:title" content="<%= @title %>">
  <%= yield :head %>
</head>
