<title>Aqueous | Groove Rock <%= "| #{@title}" if @title %></title>
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="keywords" content="Aqueous, Band, Aqueous Band, Buffalo, New York, Rock, Jamband, Progessive" />
<meta name="description" content="Groovy rock band that uses gratifying harmonies and multiple soundscapes to build an intense bond with the crowd through an improvisational foundation." /> 
<meta property="og:site_name" content="Aqueous">
<meta property="og:url" content="<%= request.url %>">
<meta property="og:title" content="<%= @title || "Aqueous - Groove Rock" %>">
<meta property="og:image" content="<%= @og_image || "http://files.aqueousband.net/images/cycles_albumart.jpg" %>"/>
