<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag "logo.png" %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Shows", shows_path %></li>
        <li class="nav-link"><%= link_to "Songs", songs_path %></li>
        <li class="nav-link"><%= link_to "Venues", venues_path %></li>
        <% if admin? %>
          <li class="nav-link more"><a href="javascript:void(0)">Admin</a>
            <ul class="submenu">
              <li><%= link_to "New show", new_show_path %></li>
              <li><%= link_to "New venue", new_venue_path %></li>
              <% if @show.try(:persisted?) %>
                <li><%= link_to "Edit show", [:edit, @show] %>
                <li><%= link_to "Edit setlist", [:edit, @show, :setlist] %>
                <li><%= link_to "Remove show", @show, method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
              <% if @song.try(:persisted?) %>
                <li><%= link_to "Edit song", [:edit, @song] %></li>
                <li><%= link_to "Delete song", @song, method: :delete, data: {confirm: "Are you sure you want to delete this song?"} %></li>
              <% end %>
              <% if @venue.try(:persisted?) %>
                <li><%= link_to "Edit venue", [:edit, @venue] %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <%= form_for @search || Search.new, method: :get, html: {class: "search-and-submit"} do |f| %>
          <div class="search-and-submit">
            <%= f.text_field :query, name: :query, type: :search, placeholder: "Search for a song, venue, location..." %>
            <button type="submit">
              <%= image_tag "search-icon.png" %>
            </button>
          </div>
        <% end %>
      </div>
      <!-- <a href="javascript:void(0)" class="sign-up">Sign Up</a> -->
    </div>
  </div>
</header>
