<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>

<%= render "layouts/nav" %>

<div id="wrapper">
  <% flash.each do |name, msg| %>
    <div id="flash_<%= name %>"><span><%= msg %></span></div>
  <% end %>

  <%= yield :top %>

  <article class="type-system-sans">
    <h1 class="type"><%= @title %></h1>

    <%= yield %>
  </article>
</div>

<%= render "layouts/footer" %>
</body>
</html>
