<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
  <%= yield :head %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>">

<%= render "layouts/nav" %>

<%= yield :top %>

<div id="wrapper" class="<%= @wrapper_class %>">
  <% flash.each do |name, msg| %>
    <div id="flash_<%= name %>"><span><%= msg %></span></div>
  <% end %>

  <article class="type-system-sans">
    <% if @title %>
      <h1><%= @title %></h1>
    <% end %>

    <%= yield %>
  </article>

  <%= render "layouts/footer" %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11671387-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1089482694451127";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--
<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
  skyway.lock = new Auth0Lock('11k3425sZHs3rLahHqNBRUTYDKcQasm9', 'aqueous.auth0.com', {
    auth: {
      redirectUrl: '<%= auth_auth0_callback_url(back_to: request.path) %>',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    },
    autoclose: true,
    theme: {
      logo: '<%= asset_url "logo_black.png" %>'
    },
    languageDictionary: {
      title: "Aqueous"
    },
  });
</script>
-->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "MusicGroup",
  "url": "https://aqueousband.com/",
  "sameAs": "https://aqueous1.bandcamp.com/",
  "name": "Aqueous",
  "description": "Aqueous is a groove rock band.",
  "image": "<%= asset_url 'photos/fall2016.jpg' %>",
  "potentialAction": {
    "@type": "ListenAction",
    "target": [
      {
        "@type": "EntryPoint",
        "urlTemplate": "https://soundcloud.com/aqueousband",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform"
        ],
        "InLanguage": "USD"
      }
    ],
    "expectsAcceptanceOf": {
      "@type": "Offer",
      "eligibleRegion": [
        {
          "@type": "Country",
          "name": "US"
        }
      ]
    }
  }
}
</script>
</body>
</html>
