<!DOCTYPE html>
<html>
<head>
  <title>Skyway</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <head>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
  </head>
</head>
<body>

<header class="navigation">
  <div class="menu-wrapper">
    <a href="/" class="logo">
      <%= image_tag "logo.png" %>
    </a>
    <div class="nav">
      <ul id="navigation-menu">
        <li><%= link_to "Shows", shows_path %></li>
        <li><%= link_to "Songs", songs_path %></li>
        <li><%= link_to "Venues", venues_path %></li>
        <li class="navigation-search-bar">
          <div class="search-bar">
            <div class="search-and-submit">
              <input type="search" placeholder="Search" />
              <button type="submit">
                <%= image_tag "search-icon.png" %>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>

<div id="wrapper">
  <%= yield %>
</div>

</body>
</html>
