<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>">

<%= render "layouts/nav" %>

<%= yield :top %>

<div id="wrapper" class="<%= @wrapper_class %>">
  <% flash.each do |name, msg| %>
    <div id="flash_<%= name %>"><span><%= msg %></span></div>
  <% end %>

  <article class="type-system-sans">
    <% if @title %>
      <h1><%= @title %></h1>
    <% end %>

    <%= yield %>
  </article>

  <%= render "layouts/footer" %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11671387-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1089482694451127";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
