<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>">

<%= render "layouts/nav" %>

<div id="wrapper">
  <% flash.each do |name, msg| %>
    <div id="flash_<%= name %>"><span><%= msg %></span></div>
  <% end %>

  <article class="type-system-sans">
    <% if @title %>
      <h1><%= @title %></h1>
    <% end %>

    <%= yield %>
  </article>
</div>

<%= render "layouts/footer" %>
<canvas id="canvas"></canvas>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
