<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>">

<%= render "layouts/nav" %>

<%= yield :top %>

<div id="wrapper">
  <% flash.each do |name, msg| %>
    <div id="flash_<%= name %>"><span><%= msg %></span></div>
  <% end %>

  <article class="type-system-sans">
    <% if @title %>
      <h1><%= @title %></h1>
    <% end %>

    <%= yield %>
  </article>

  <%= render "layouts/footer" %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= yield :js %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11671387-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
