<!DOCTYPE html>
<html>
<head>
  <title>Aqueous | Groove Rock</title>
  <%= stylesheet_link_tag "new", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body class="<%= controller_name %>">
  <header class="navigation">
    <div class="navigation-wrapper">
      <a href="/" class="logo">
        <%= image_tag "logo.png" %>
      </a>
      <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="nav">
        <ul id="navigation-menu">
          <%= nav_menu %>
        </ul>
      </div>
    </div>
  </header>

  <div id="wrapper">
    <%= yield %>

    <footer>
      <p>
        <%= image_tag "logo_black.png" %>
      </p>
      <ul>
        <li><%= link_to "Contact", page_path("contact") %></li>
        <li><%= link_to "Facebook", "https://facebook.com/aqueousband" %></li>
        <li><%= link_to "Twitter", "https://twitter.com/aqueousband" %></li>
        <li><%= link_to "YouTube", "https://twitter.com/aqueousband" %></li>
        <li><%= link_to "Jambase", "http://www.jambase.com/Artists/49138/Aqueous" %></li>
        <li><%= link_to "Soundcloud", "http://soundcloud.com/aqueousband" %></li>
      </ul>
    </footer>
  </div>

  <canvas id="canvas"></canvas>
  <%= javascript_include_tag "new", "data-turbolinks-track" => true %>
</body>
</html>
