<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "sampler", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>">

<div id="wrapper">
  <article class="type-system-sans">
    <%= yield %>
  </article>

  <%= render "layouts/footer" %>
</div>

<%= javascript_include_tag "sampler", "data-turbolinks-track" => true %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11671387-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
