<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "video", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>">

<div id="wrapper">
  <article>
    <%= yield %>
  </article>

  <%#= render "layouts/footer" %>
</div>

<%= javascript_include_tag "video", "data-turbolinks-track" => true %>
<%= render 'layouts/analytics' %>
</body>
</html>
